#ocean {
    background-image: url("ocean.jpg");
    width: 900px;
    height: 700px;
  }
.player{
    position: absolute;
    background-image: url("player.png");
    width: 70px;
    height:75px;
    z-index: 1;
}
.enemy{
    position: absolute;
    background-image: url("enemy.png");
    width: 70px;
    height:75px;
}
.missile{
    position: absolute;
    width: 2px;
    height:10px;
    background-color: red;	
}
#shots{
    padding-top: 20px;
    padding-left: 15px;
    font-size: 15pt;
    color: black;
    font: outline;
}
#kills{
    padding-left: 15px;
    padding-top: 600px;
    font-size: 15pt;
    color:black;
}
/* .comment       { color: #00b3ff; }
.selector      { color: #00fdd3; }
.selector .key { color: #66ff00; }
.key           { color: #ffffff; }
.value         { color: #3787ff; } */
